<template>
    <div class="calendar-main-wrapper">
        <datepicker
                input-class="calendar-input"
                :placeholder="label"
                format="yyyy-MM-dd"
                :name="name"
                :value="val"
                wrapper-class="calendar-wrapper">
        </datepicker>
    </div>
</template>

<script>
    import Datepicker from 'vuejs-datepicker';

    export default {
        components: {
            Datepicker
        },

        props: ['label', 'name', 'val'],

        mounted() {
        }
    }
</script>
