<template>
    <div>
        <form class="navbar-form navbar-left"
              method="get"
              :action="route">

            <div class="form-group">
                <input type="text"
                       name="subject"
                       value=""
                       class="form-control"
                       v-model="searchText"
                       :placeholder="placehold" />

                <span>{{fromLabel}}:&nbsp;
                    <calendar
                        label="Начало"
                        :val="from"
                        name="from"></calendar>
                </span>

                <span>{{tillLabel}}:&nbsp;
                <calendar label="Конец"
                          :val="till"
                          name="till">
                </calendar>
            </span>
            </div>

            <button type="submit"
                    :disabled="buttonDisabled"
                    class="btn btn-primary">{{ buttonLabel }}</button>
        </form>
    </div>
</template>


<script>
    import Calendar from './Calendar.vue';

    export default {
        props: [
            'route',
            'from',
            'till',
            'placehold',
            'buttonLabel',
            'fromLabel',
            'tillLabel'
        ],

        data() {
            return {
                searchText: ''
            };
        },

        computed: {
            buttonDisabled() {
                return (this.searchText.length === 0);
            }
        },

        mounted() {
            console.log(this.route);
        }
    }
</script>