.images-container {
    text-align: center;
}

.page-links ul li {
    list-style-type: none;
    display: inline;
}

.image {
    max-width: 900px;
    margin: 10px 0;
}

.footer {
    text-align: center;
}

.found-subject {
    font-weight: bold;
    color: red;
}

.calendar-main-wrapper {
    display: inline;
}

.calendar-input, .calendar-wrapper {
    display: inline;
    width: 100px;
}

.calendar-wrapper > div {
    display: inline;
}
